## Table of Content

1. **[Introduction to List](#list)**
2. **[Introduction to Tuple](#tuple)**
3. **[Introduction to Dictionary](#dictionary)**
4. **[Introduction to Sets](#sets)**
5. **[Conditional Statement and Loops](#loops)**
    - 5.1 - [if statement](#if_statement)
    - 5.2 - [if else statement](#if_else)
    - 5.3 - [if elif else](#if_elif_else)
    - 5.4 - [nested if and if else statement](#nested_if)
    - 5.5 - [for loop](#forloop)
    - 5.6 - [while loop](#whileloop)
    - 5.7 - [break statement](#break_statement)
    - 5.8 - [continue statement](#continue_statement)

<a id="list"> </a>
## 1. Introduction to List

### Constructing Lists

To create a list, use square brackets [ ] and separate items in the list with commas.
A list can be empty or contain any number of items with different data types (integers, float, strings, etc.)

In [1]:
# create a empty list
empty_list = []
empty_list

[]

**Note : A list can also hold another list as an item, these are called nested lists**

In [4]:
# nested list
my_list = [['Data Science','Machine Learning'],[135,232,321]]
my_list

[['Data Science', 'Machine Learning'], [135, 232, 321]]

### Acessing Elements in a List
You can access the list items by referring to the index number

**Indexing:**<br>
We use the index operator [ ]. Each item in a list has an assigned index value. Note that the index starts from 0 in python and must be an integer

Print the second item of the list

In [5]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index 1
print(course[1])

machine learning

**Negative Indexing**:<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item

Print the second last item of the list

In [6]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# access the second item of a list at index -2
print(course[-2])

html

### Slicing of a List
List uses the slicing operator : (colon) to extract part of the sequence

Return first three elements from the list

In [8]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print first three element from the list
course[:3]

['data science', 'machine learning', 'python']

Select elements from beginning to end

In [10]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# print the all elements
course[:]

['data science', 'machine learning', 'python', 'html', 'big data']

If all three start , stop, and step are provided, it generates portion of sequence after index start till stop with increment of index step

In [21]:
a = [1,2,3,4,5,6,7,8,9,10]
print(a[2:7:2])

[3, 5, 7]

### Change Item Value
Refer the index number to change the value of a specific item

In [12]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# change the third item
course[3] = 'statistics'

course

['data science', 'machine learning', 'python', 'statistics', 'big data']

### List Methods
Python has a set of built-in methods that you can use on lists and arrays

Python has built-in methods that you can use on list:<br>
append()<br>
insert()<br>
extend()<br>
del <br>
remove()<br>
pop()<br>
reverse()<br>

**list.append(item)**<br>
The method list.append(item) will add the element at the end of a list

In [13]:
# define a list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics']

# add element to the list
course1.append(course2)
course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 ['statistics']]

**list.insert(i, item)**<br>
This method will insert an element at the ith index in a list

In [14]:
# define a list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# insert element at 2nd index in a list
course.insert(2, 'statistics')
course

['data science',
 'machine learning',
 'statistics',
 'python',
 'html',
 'big data']

**list.extend(items)**<br>
The extend method concatenates lists

In [15]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data']

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1.extend(course2)

course1

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Deleting List Elements**<br>
Use the del keywords to delete an item at specific index

In [16]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# delete the third element from the list
del course[2]

# print the output
course

['data science', 'machine learning', 'html', 'big data']

**list.remove(item)**<br>
It will search and remove only the first occurrence of an item

In [18]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.remove('html')

course

['data science', 'machine learning', 'python', 'big data', 'html']

**list.pop()**<br>
Removes and returns the last item of a list

In [19]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.pop()

'html'

**list.reverse()**<br>
The reverse() method reverses the sorting order of the elements

In [20]:
# define a first list
course = ['data science', 'machine learning', 'python', 'html', 'big data', 'html' ]

course.reverse()

course

['html', 'big data', 'html', 'python', 'machine learning', 'data science']

### Common List Operations

**Concatenation(+)**<br>
Concatenation uses the + Operator. It combines lists

In [21]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

# define a second list
course2 = ['artificial intelligence']

# concatenate the list
course1 + course2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'artificial intelligence']

**Repetition(*)**<br>
Uses the * Operator. Concatenates a list a repeated number of times

In [22]:
# define a first list
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course1*2

['data science',
 'machine learning',
 'python',
 'html',
 'big data',
 'data science',
 'machine learning',
 'python',
 'html',
 'big data']

<a id="tuple"> </a>
## 2. Introduction to Tuple

### Creating Tuple
Here, we are creating few tuples. We can have tuple of same type of data items as well as mixed type of data items

In [24]:
# tuple of int, float, string
my_tuple = (123, 2.228, "hello python")
print(my_tuple)

(123, 2.228, 'hello python')

In [25]:
# tuple of string and list
my_tuple = ("python", [12, 12, 31])
print(my_tuple)

('python', [12, 12, 31])

### Access Tuple Elements
We use indexes to access the elements of a tuple

In [27]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# access the second element from the list
my_tuple[1]

'yellow'

**Negetive Indexing**<br>
Negative indexing means beginning from the end, -1 refers to the last item, -2 refers to the second last item of the tuple

In [28]:
# tuple of strings
my_tuple = ("mango", "yellow", "green", "blue")

# print last item of the tuple
my_tuple[-1]

'blue'

### Change Tuple Values
We cannot change the elements of a tuple because elements of tuple are immutable. However we can change the elements of nested items that are mutable

In [31]:
my_tuple = (123, ['s', 'a', 'v'], "World")
print(my_tuple)

# changing the element of the list 
# this is valid because list is mutable
my_tuple[1][2] = 99
print(my_tuple)

(123, ['s', 'a', 'v'], 'World')
(123, ['s', 'a', 99], 'World')

In [32]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

# changing the element of tuple
# This is not valid since tuple elements are immutable
my_tuple[0] = 'orange'

TypeError: 'tuple' object does not support item assignment

### Delete Operation on Tuple
We already discussed above that tuple elements are immutable which also means that we cannot delete the elements of a tuple. However deleting entire tuple is possible

In [1]:
# define the tuple
my_tuple = ("mango", "yellow", "green", "blue", 353, 363.2, 'w')

del my_tuple[0]

TypeError: 'tuple' object doesn't support item deletion

### Tuple Methods

Python has two built-in methods that you can use on tuples:<br>
count()<br>
index()<br>
sorted()

**count()**<br>
Returns the number of times a specified value occurs in a tuple

In [35]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.count('e')

4

**index()**<br>
Searches the tuple for a specified value and returns the position of where it was found

In [36]:
my_tuple = ('a','p','p','l','e','e','d','e', 'd','e','a','c','w')
my_tuple.index('l')

3

**sorted()**<br>
It sorts a tuple and always returns a list with the elements in a sorted manner

In [37]:
my_tuple = (2,3,5,6,4,7,8,9,9,2,3)
sorted(my_tuple)

[2, 2, 3, 3, 4, 5, 6, 7, 8, 9, 9]

<a id="dictionary"> </a>
## 3. Introduction to Dictionary

**General Syntax of Dictionary:**<br>
dictionary_name = {&nbsp;key_1: value_1,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                   key_2: value_2,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    key_3: value_3,<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                    }

### Create Dictionary
Separate keys from values with a colon(:), and a pair from another by a comma(,). Put it all in curly braces

In [38]:
# create dictionary
balance = {
    "Mia" : 83847,
    "John" : 83837,
    "Jill" : 94766
}
print(balance)

{'Mia': 83847, 'John': 83837, 'Jill': 94766}

### Accessing Items
You can access the items of a dictionary by referring to its key name, inside square brackets

In [39]:
# Get the value of "Mia" key
x = balance["Mia"]
x

83847

We can use get method to get the value of "Mia" key

In [40]:
x = balance.get("Mia")
x

83847

### Change Values
You can change the value of a specific element by referring to its key name

In [41]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales

{2015: 34500, 2016: 34300, 2017: 40000}

In [42]:
# Change the sales figure for 2015
year_sales[2015] = 45000

year_sales

{2015: 45000, 2016: 34300, 2017: 40000}

**Dictionary Length**

In [43]:
# print the length of dictionary
print(len(year_sales))

3

**Adding Items**<br>
Adding an item to the dictionary is done by using a new index key and assigning a value to it

In [44]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

year_sales['2018'] = 55000

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, '2018': 55000}

### Dictionary Method

**Removing Items**<br>
There are several methods to remove items from a dictionary:<br>
pop() method<br>
popitem() method<br>
del keywords<br>
clear keyword

**pop()**<br>
The pop() method removes the item with the specified key name

In [45]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove key from dictionary
year_sales.pop(2015)

year_sales

{2016: 34300, 2017: 40000}

**popitem()**<br>
The popitem() method removes the last inserted item

In [46]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# remove last item from the dictionary
year_sales.popitem()

year_sales

{2015: 34500, 2016: 34300}

**del keywords**<br>
The del keyword removes the item with the specified key name

In [47]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# delete item from the dictionary
del year_sales[2015]

year_sales

{2016: 34300, 2017: 40000}

**clear()**<br>
The clear() keyword empties the dictionary

In [48]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# clear the dictionary
year_sales.clear()

year_sales

{}

**Copy()**<br>
You cannot copy a dictionary simply by typing dict2 = dict1, because dict2 will only be a reference to dict1, and changes made in dict1 will automatically also be made in dict2<br>
You can use copy() method to make copy of dictionary

In [49]:
# create a dictionary
year_sales1 = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# make a copy of dictionary
copy_dict = year_sales.copy()

**sorted()**<br>
Return a new sorted list of keys in the dictionary

In [50]:
Square = {1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
sorted(Square)

[1, 3, 5, 7, 9]

**update()**<br>
We can also add and modify dictionaries by using the dict.update() method

In [51]:
# create a dictionary
year_sales = {
  2015: 34500,
  2016: 34300,
  2017: 40000
}

# update dictionary
year_sales.update({2018:30000})

year_sales

{2015: 34500, 2016: 34300, 2017: 40000, 2018: 30000}

<a id="sets"> </a>
## 4. Introduction to Sets

### Creating Set
In Python sets are written with curly brackets

In [6]:
# create a set
s = {1, 2, 3, 3, 4, 3, 3, 2, 2, 2}
print (s)

# create a set
set([1, 2, 3, 4, 4, 4])

{1, 2, 3, 4}

{1, 2, 3, 4}

Python has the following methods that you can use on sets:<br>
add()<br>
update()<br>
len()<br>
remove()<br>
pop()<br>

<a id="loops"> </a>
## 5. Conditional Statement and Loops

<a id="if_statement"> </a>
## 5.1 if statement

**syntax:**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS

**Let’s see how it looks on a flow chart:**
            <img src="flowchart_if.png">

Now, we will see some examples on if statements

In [6]:
# create a string
my_string = 'Python'

# create a list
my_list = ['Data Science', 'Machine Learning', 'Artificial Intelligence', 'Python']

if my_string in my_list:
    print(my_string + ' Tutorial')

Python Tutorial

 Test if an item is a member of a list or not.

In [7]:
languages = ['java', 'python' ,'perl', 'ruby', 'c#']
if 'python' in languages:
    print('right')

right

<a id="if_else"> </a>
## 5.2 if else statement

**Syntax of if...else**<br><br>
if BOOLEAN EXPRESSION:<br>
&nbsp;&nbsp;    STATEMENTS_1<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_2

**Flow chart of a if else statement:**
            <img src="flowchart_if_else.png">

Let’s see an example of the implementation of the if…else statement.

In [8]:
# create a integer
x = 200
print(x)

# uses the not operator to reverse the result of the logical expression
if not x == 500:
    print('the value of x different from 500')
else:
    print('the value of x is equal to 500')

200
the value of x different from 500

In [31]:
string1 = str(input("enter your userid"))
string2 = str(input("enter your password"))

if (string1 == "greatlearning" and string2 == "simplelearning123"):
    print("Succefully logged in!!")
else :
    print("Please check your userid and password")

enter your useridgreatlearning
enter your passwordsimplelearning123
Succefully logged in!!

<a id="if_elif_else"> </a>
## 5.3 if elif else

**Syntax of if elif else:**<br>
if x < y:<br>
&nbsp;&nbsp;    STATEMENTS_A<br>
elif x > y:<br>
&nbsp;&nbsp    STATEMENTS_B<br>
else:<br>
&nbsp;&nbsp;    STATEMENTS_C

**Here is the flow chart of if elif else:**
            <img src="flowchart_if_elif.png">

Check whether the given number is greater than 50 or not

In [3]:
num = 100
if (num == 0):
    print("Number is Zero")
elif (num > 5):
    print("Number is greater than 50")
else:
    print("Number is smaller than 50")

Number is greater than 50

<a id="nested_if"> </a>
## 5.4 nested if and if else statement

In [5]:
num = float(input("Enter a number: "))
if num >= 0:
    if num == 0:
        print("Zero")
    else:
        print("Positive number")
else:
    print("Negative number")

Enter a number: 23
Positive number

<a id="forloop"> </a>
## 5.5 for loop

**Syntax of for loop:**<br>
for val in sequence:<br>
&nbsp;&nbsp;	Body of for

**Here is the flow chart of for loop:**
            <img src="forloop.jpg">

In [7]:
# Program to find the sum of all numbers stored in a list

# List of numbers
numbers = [66, 545, 223, 438, 224, 122, 125, 214, 111]

# variable to store the sum
sum = 0

# iterate over the list
for val in numbers:
    sum = sum+val

# Output: The sum is 48
print("The sum is", sum)

The sum is 2068

<a id="whileloop"> </a>
## 5.6 while loop

**Syntax of for loop:**<br>
while (expression):<br>
&nbsp;&nbsp;     statement_1<br>
&nbsp;&nbsp;     statement_2<br>
    ....

Calculate the sum of the integers from 0 to 9

In [11]:
a = 0;
b = 0
while (a < 10):
     b = b + a
     a = a + 1
else :
     print('The sum of first 9 integers : ',b)

The sum of first 9 integers :  45

<a id="break_statement"> </a>
## 5.7 break statement

Check whether a numbers entered by the user is negative or not.

In [16]:
for i in range(5):
    a = int(input())
    if a < 0:
        print('Met a negative number', a)
        break
else:
    print('No negative numbers met')

78
89
09
89
78
No negative numbers met

### <a id="continue_statement"> </a>
## 5.8 continue statement

In [18]:
# loop from 1 to 10 
for i in range(1, 11): 
    if i == 6: 
        continue
    else: 
        # otherwise print the value of i 
        print(i, end = " ")

1 2 3 4 5 7 8 9 10

Use the continue statement in a while loop

In [19]:
i = 0
while i < 9:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9